<b><center>UNCLASSIFIED</center></b>

<img src="./GRAPHICS/Banner.png" width="110%">

# Lesson 8: Prepare for the Final Exercise

## Table of Contents

8.1. [Objectives](#objectives)<br>
8.2. [Overview](#overview)<br>
8.3. [Computational Thinking](#CompT)<br>
8.4. [Python Data Types](#DataTypes)<br>
&nbsp;&nbsp;&nbsp;&nbsp;8.4.1. [Boolean Values and Operators](#boolean)<br>
&nbsp;&nbsp;&nbsp;&nbsp;8.4.2. [Reserved Python Keywords](#Keywords)<br>
&nbsp;&nbsp;&nbsp;&nbsp;8.4.3. [Numbers](#numbers)<br>
&nbsp;&nbsp;&nbsp;&nbsp;8.4.4. [None](#none)<br>
8.5. [Python Data Structures](#Structures)<br>
&nbsp;&nbsp;&nbsp;&nbsp;8.5.1. [Sequences](#sequences)<br>
&nbsp;&nbsp;&nbsp;&nbsp;8.5.2. [Lists](#lists)<br>
&nbsp;&nbsp;&nbsp;&nbsp;8.5.3. [Tuples](#tuples)<br>
&nbsp;&nbsp;&nbsp;&nbsp;8.5.4. [Strings](#strings)<br>
&nbsp;&nbsp;&nbsp;&nbsp;8.5.5. [Unordered Collections](#unordered)<br>
&nbsp;&nbsp;&nbsp;&nbsp;8.5.6. [Sets](#sets)<br>
&nbsp;&nbsp;&nbsp;&nbsp;8.5.7. [Dictionaries](#dictionaries)<br>
&nbsp;&nbsp;&nbsp;&nbsp;8.5.8. [Common Operations Across Data Structures](#common_ops)<br>
8.6. [Flow Control](#codeflow)<br>
&nbsp;&nbsp;&nbsp;&nbsp;8.6.1. [If Statements](#if)<br>
&nbsp;&nbsp;&nbsp;&nbsp;8.6.2. [For Loops](#for)<br>
&nbsp;&nbsp;&nbsp;&nbsp;8.6.3. [While Loops](#while)<br>
&nbsp;&nbsp;&nbsp;&nbsp;8.6.4. [Break and Continue](#break)<br>
8.7. [Getting Data](#GettingData)<br>
&nbsp;&nbsp;&nbsp;&nbsp;8.7.1. [Loading a Local Data File](#Local)<br>
&nbsp;&nbsp;&nbsp;&nbsp;8.7.2. [Getting Data with the CSV Library](#csv)<br>
&nbsp;&nbsp;&nbsp;&nbsp;8.7.3. [The Glob Library](#glob)<br>

***
<a id="objectives"></a>
## 8.1. Objectives

* Examine the implications of using computation to solve a problem
    * Discuss best practices for using computation to solve a problem
    * Suggest types of problems that can be solved through computation
    * Show how computation can solve a problem
<br><br>    
* Recognize key computer science concepts
    * Identify data types used in Python scripting
    * Identify data structures used in Python scripting
    * Define variables and strings
    * Recognize how queries operate
<br><br>    
* Demonstrate the ability to build basic scripts using Python scripting language
    * Use various data types and structures in Python scripting
    * Collect data using Python scripting
    * Extract data using Python scripting
    * Develop advanced data structures using Python scripting

<hr> <a id="overview"></a>
## 8.2. Overview

You've made it to Lesson 8. We have covered a lot of material in a very short time, so it is time to do a comprehensive review. In this lesson we are going to review everything that has been covered in the course:

   * Computational Thinking
   * Python Data Types and Structures
   * Python Loops and Functions
   * Getting Data
   * Working with Data

<a id="CompT"></a>
<hr>
## 8.3. Computational Thinking

Computers are not smart, but they are fast. They need explicit instructions in order to solve a problem. This means that when we, as programmers, are presented with a problem, we have to provide the computer a complete set of instructions for it to do what we want. This requires a special mode of reasoning that we call *computational thinking*.

<img src="./GRAPHICS/IconKeyPoster.png" width="70%">

The basic steps for approaching a problem with computational thinking are:

1. **Decomposition:** Breaking down data, processes, or problems into smaller, manageable parts
    1. Make sure you understand the problem
        1. Identify the inputs
        2. Identify what the output should look like
    2. If it’s a large scale problem, identify possible smaller components
<br><br>    
2. **Pattern Recognition:** Observing patterns, trends, and regularities in data
    1. Inspect your data
        1. Make sure the inputs and outputs you’ve identified make sense
        2. Look for trends or possible fringe cases
<br><br>       
3. **Abstraction:** Identifying the general principles that generate these patterns
    1. Work out a problem by hand
        2. As you work out by hand, attempt to think beyond a single example
<br><br>
4. **Algorithm Design:** Developing the step by step instructions for solving the problem
    1. Begin to formalize your steps into pseudocode
    2. Identify available software tools
        1. These may be available packages, things you’ve written in the past, or built-in python functionality
    3. Implement your pseudocode

**Exercise:** For each exercise in this notebook, write your own pseudocode before you begin coding a solution.

<hr> <a id="DataTypes"></a>
## 8.4. Python Data Types 

See the table below for descriptions of each type.

| Plain Language Description                              | Python Data Type | `type()` Output |
| :------------------------------------------ | :---------------: | :-------------: |
| True or False                               | Boolean          | `bool`            |
| Whole Numbers                               | Integer          | `int`             |
| Decimal Numbers                             | Float            | `float`           |
| Sequences of characters including letters, <br>numbers, formatting characters, and/or punctuation   | String   | `str` |
| Nothingness, non-existence; not the same as <br>zero or empty                 | None          | `NoneType`            |


<hr> <a id="boolean"></a>

### 8.4.1. Boolean Values and Operators

**Exercise:** Below, create two Boolean values and store them in variables.

In [ ]:
## YOUR CODE GOES HERE ##

#### 8.4.1.1. Comparison Operators

You can compare values in a number of different ways, shown in the table below.

| Operator  | Operation                |
| :-------: | :----------------------- |
| `==`        | equals                |
| `!=`        | not equal to             |
| `>`         | greater than             |
| `>=`        | greater than or equal to |
| `<`         | less than                |
| `<=`        | less than or equal to    |

In [ ]:
grade = 50

Above, we initialize a variable that holds an integer. Can you guess the result of the expressions below? Run each cell to output the result. You can also change the value of `grade` and see how the results change.

In [ ]:
grade > 50

In [ ]:
grade <= 50

**Exercise:** Define two variables that store numeric values (either `int` or `float`), and write expressions that check whether the values are equal to, not equal to, greater than, or less than each other.

In [ ]:
## YOUR CODE GOES HERE ##

#### 8.4.1.2. Membership Operators
The membership operators below are used to write membership tests.

| Operator | Operation                                                            |
| :------: | :------------------------------------------------------------------- |
| `in`       | Checks if the left side of expression contained in the right side of expression |
| `not in`   | Checks if the left side of expression is not contained in the right side of expression |

In [ ]:
NATO = ['Belgium', 'Canada', 'Denmark', 'France', 'Iceland', 'Italy', 'Luxembourg', 'Netherlands',
        'Norway', 'Portugal', 'United Kingdom', 'United States', 'Greece', 'Turkey', 'Germany',
        'Spain', 'Czech Republic', 'Hungary', 'Poland', 'Bulgaria', 'Estonia', 'Latvia',
        'Lithuania', 'Romania', 'Slovakia', 'Slovenia', 'Albania', 'Croatia', 'Montenegro']

Above, we save a list of strings to a variable. Below, we can run membership tests on it. Guess the results and then run each expression to output the result.

In [ ]:
'United Kingdom' in NATO

In [ ]:
'Denmark' not in NATO

**Exercise:** Create a variable that stores a string, and write a membership test to check whether that string is contained in the list `NATO`. Does changing the capitalization in your string affect the outcome?

In [ ]:
## YOUR CODE GOES HERE ##

**Exercise:** Create a variable that stores a number, and write a membership test to check whether that value is contained in the list below. Does using a float vs. an integer affect your result?

In [ ]:
test_list = [493, 168, 75, 361, 297, 71, 308, 5, 36, 174, 378, 155, 252, 348, 151, 354, 181]

In [ ]:
## YOUR CODE GOES HERE ##

#### 8.4.1.3. Logic Operators
Logical operators are used to combine Boolean expressions or values into larger Boolean expressions.

| Operator  | Operation                |
| :-------: | :----------------------- |
| `and`    | Checks if two statements are _both_ True |
| `or`    | Checks if _either_ of two statements are True |
| `not` | Negates the value of a boolean statement |

Guess the result of the Boolean expression below.

In [ ]:
not ('h' != 'H' and 1 >= 2) or False

**Exercise:** In the cells below, replace the `?`'s with Python operators or keywords that make each of the statements output <font color=green>**True**</font>.

In [ ]:
('Estonia' in NATO) ? ('Atlantis' in NATO)

In [ ]:
100 ? 55

In [ ]:
'Russia' ? NATO

In [ ]:
78 ? 73


<hr> <a id='Keywords'></a>

### 8.4.2. Reserved Python Keywords

There are words within Python that have specific use cases and cannot be used as variable names. These words show up green and bold in Jupyter Notebook code cells. Run the following cell to output a list of all of Python's reserved keywords. Look through the list and define in your own words any keyword you've learned in this class.

In [ ]:
import keyword

print(keyword.kwlist)

#### 8.4.2.1. Built-In Functions
Beginning programmers should never overwrite built-in function names. Once you re-assign the function's name to something else, you have lost the ability to use that function, which is bad because these functions are fundamental to some core Python capabilities. Moreover, errors stemming from accidental overwrites of Python functions can be very hard to debug. Here are some built-in functions you are already familiar with. Do you remember what they do?
```python
print()
type()
max()
min()
int()
list()
dict()
str()
```

***
<a class="anchor" id="numbers"></a>
### 8.4.3. Numbers (Integers and Floats)

Guess the output of the cells below.

In [ ]:
2 == 2.0

In [ ]:
type(2) == type(2.0)

Doing mathematical operations with integers and floats returns a float as the result.

In [ ]:
4 + 4.0 + 10

#### 8.4.3.1. Arithmetic Operators

| Operator  | Operation                            |
| :-------: | :----------------------------------- |
| `+`         | addition                             |
| `-`         | subtraction                          |
| `/`         | division                             |
| `*`         | multiplication                       |
| `//`        | floor division                       |
| `%`         | modulus - returns only the remainder |
| `**`        | exponent                             |

Examples of calling the exponent operator:

In [ ]:
2 ** 10

In [ ]:
25 ** 0.5

Examples of calling the modulus operator:

In [ ]:
17 % 4

In [ ]:
16 % 7

In [ ]:
248 % 2

Examples of floor division:

In [ ]:
17 // 4

In [ ]:
5 // 2

In [ ]:
-5 // 2

#### 8.4.3.2. Assignment Operators

Assignment operators combine arithmetic and assignment into a single statement.

| Operator  | Operation                            |
| :-------: | :----------------------------------- |
| `+=`        | add right operand to the left operand and assign the result to left operand |
| `-=`        | subtract right operand from the left operand and assign the result to left operand |
| `*=`        | multiply right operand and the left operand and assign the result to left operand |

Examples of assignment operators:

In [ ]:
number = 4

number += 5
number

In [ ]:
number = 7

number *= 3
number

#### 8.4.3.3. Casting

Guess the output of the cell below.

In [ ]:
'11.186' + 2

**Exercise:** Fix the code in the cell above so it runs without throwing an error. HINT: Use casting.

**Exercise:** In the code cells below, replace the `???`'s with casting functions to make the code run without errors.

In [ ]:
7 ** ???('2')

In [ ]:
print("My team has won " + ???(20) + " awards collectively.")

In [ ]:
PI = '3.14159'
int(???(PI) * 100) / 100

In [ ]:
my_num = 654321
print("The first three digits in my_num are " + ???(my_num)[:3])


<hr> <a id="none"></a>

### 8.4.4. None

The `None` data type is used to denote the absence of data.

In [ ]:
type(None)

One helpful note about the `None` data type is that when cast to a Boolean it evaluates to `False`

In [ ]:
bool(None)

<hr> <a id="Structures"></a>

## 8.5. Python Data Structures

<hr> <a id="sequences"></a>

### 8.5.1. Sequences

A sequence is an ordered grouping of elements.  Each element of a sequence is assigned a number which is its position or index.

<img src="./GRAPHICS/arrayIndex.png" width="40%"><br>


<hr> <a id="lists"></a>

### 8.5.2. Lists

Lists are mutable sequences.

| Syntax | Description |
|:----------------------------:|--------------------------------------------------:|
| `list2 = []`                      | Initializes an empty list |
| `list3[0]`                        | Indexes a list |
| `list3[1:2]`                      | Slices a list |
|`list_variable.append(x)`         | Appends `x` to the end of the list |
|`list_variable.extend(my_list)`   | Appends each element of `my_list` to the list |
|`list_variable.insert(i, x)`       | Inserts `x` at index `i` in the list |
|`list_variable.remove(x)`         | Removes the first appearance of `x` in the list |
|`list_variable.pop(i)`            | Removes the item at index `i` in the list and returns that value |
|`list_variable.index(x)`          | Returns the index where `x` first appears in the list; <br>throws an error if `x` is not contained in the list  |
|`list_variable.count(x)`          | Counts the number of times `x` appears in the list |
|`list_variable.sort(reverse=False)`            | Sorts the order of the list |
|`list_variable.reverse()`         | Reverses the order of the list |

Run the following cell to save the list of strings below.

In [ ]:
grocery_list = ['apples', 'ice cream', 'yogurt']

**Exercise:** Append `'walnuts'` to `grocery_list`.

In [ ]:
## YOUR CODE GOES HERE ##

**Exercise:** Remove the first item from `grocery_list` and save the removed value to a variable.

In [ ]:
## YOUR CODE GOES HERE ##

**Exercise:** Extend `grocery_list` with the items in the list below.

In [ ]:
new_grocery_list = ['triple sec', 'tequila', 'limes', 'salt']

In [ ]:
## YOUR CODE GOES HERE ##

You can also add two lists together, which does the same thing as `.extend()`.

In [ ]:
taco_night_grocery_list = ['taco shells', 'beef', 'cheese', 'salsa', 'chips']

grocery_list = grocery_list + taco_night_grocery_list
grocery_list

Using the list below, make the following changes.

In [ ]:
courses2018 = ['Chemistry 237', 'Archery 101', 'Bowling 201', 'Computer Science 211', 'Geology 301']

**Exercise:** Remove `'Archery 101'` from the course list.

In [ ]:
## YOUR CODE GOES HERE ##

**Exercise:** Add `'Physics 202'` to the list.

In [ ]:
## YOUR CODE GOES HERE ##

**Exercise:** Sort the list alphabetically in descending order (Z-A).

In [ ]:
courses2018 = ['Chemistry 237', 'Archery 101', 'Bowling 201', 'Computer Science 211', 'Geology 301']

In [ ]:
## YOUR CODE GOES HERE ##

Using the list below, make the following changes using Python:

In [ ]:
num_list = [68, 5, 76, 81, 19, 33, 8, 26, 84, 47, 43, 25, 61, 22, 27]

**Exercise:** Count the number of items in the list (using code, not your fingers!).

In [ ]:
## YOUR CODE GOES HERE ##

**Exercise:** Move the first item in the list to the end of the list.

In [ ]:
## YOUR CODE GOES HERE ##

**Exercise:** Find the maximum value in the list using the built-in `max()` function.

In [ ]:
## YOUR CODE GOES HERE ##

**Exercise:** Find the maximum value in the list by sorting the list in ascending order and then grabbing the last element.

In [ ]:
## YOUR CODE GOES HERE ##


<hr> <a id="tuples"></a>

### 8.5.3. Tuples

Tuples are immutable sequences.

|Code                           |Action                  |
|:-------------------------------:|------------------------:|
|`my_tuple[0]`                  | Indexing a tuple |
|`x, y = my_tuple`             | Multiple assignment |

In [ ]:
weekdays = ('Monday','Tuesday','Wednesday','Thursday','Friday')

Why does the cell below throw an error?

In [ ]:
weekdays[0] = 'Lunes'
weekdays

**Exercise:** Using indexing, extract the third element from within the second-to-last element of the following tuple. HINT: The target element is the integer `22`.

In [ ]:
my_tuple = ((13, 2, 60, 6),
            (54, 0, 20, 37),
            (65, 62, 9, 49),
            (18, 69, 8, 54),
            (55, 52, 22, 53),
            (62, 57, 75, 20))

In [ ]:
## YOUR CODE GOES HERE ##


<hr> <a id="strings"></a>

### 8.5.4. Strings

Strings are immutable sequences of characters. 

| Syntax                             |   Description                                                              |
|:----------------------------------:|----------------------------------------------------------------------------------:|
|`str(x) `           | Converts `x` to a string |
|`string_a + string_b`                | Concatenation: appends `string_b` to `string_a` |
|`my_string * 3  `                    | Repeats the string 3 times |
|`my_string[i] `                  | String indexing |
|`my_string[begin_index:end_index]`   | String slicing |
|`string_variable.upper()`           | Converts all of the alpha characters to uppercase |
|`string_variable.lower()`           | Converts all of the alpha characters to lowercase |
|`string_variable.strip()`           | Removes leading and trailing whitespace from a string |
|`string_variable.split(sub_string)`| Splits a string using `sub_string` as a delimiter;<br>returns a list of string fragments|
|`string_variable.replace(old, new)` | Replaces all occurrences of `old` with `new` |
|`string.find(sub_string)`  | Searches a string for `sub_string`, returns the index location of <br>first character of substring (or -1 if `sub_string` is not found) |
                            
Below, we demonstrate some of the things you can do with strings.

In [ ]:
string_variable = '   Hello World   '

Convert all the characters to uppercase.

In [ ]:
string_variable.upper()

Convert all the characters to lowercase.

In [ ]:
string_variable.lower()

Remove the leading and trailing white space from the string.

In [ ]:
string_variable.strip()

Split the words in the string.

In [ ]:
string_variable.split()

**Exercise:** Write a script to make a new string from a given string where all occurrences of the first character have been changed to `'$'`, except the first character itself. HINT: Use indexing, slicing and `.replace()`.  

| Example Input | Expected Output |
|:---------:|:----------:|
| `restart` | `resta$t` |
| `pineapple` | `pinea$$le` |

In [ ]:
## YOUR CODE GOES HERE ##

**Exercise:** Write a Python script to take two strings, swap the first two characters of each string, then combine them into one string separated by a space. HINT: Use slicing and string concatenation (`+`).

| Example Input | Expected Output |
|:---------:|:----------:|
| `s1, s2 = 'abc', 'xyz'` | `'xyc abz'` |
| `s1, s2 = 'magic', 'carpet'` | `'cagic marpet'` |

In [ ]:
## YOUR CODE GOES HERE ##


<hr> <a id="unordered"></a>

### 8.5.5. Unordered Collections

Sequences are like pill boxes.  They contain pieces of data in a given order, where each item is given a numeric index.

<img src="./GRAPHICS/list_pillbox.png" width="33%">

Unordered collections, on the other hand, are like pill bottles.  While they also contain data elements, there is not an inherent order or addressing system.

<img src="./GRAPHICS/list_pillbottle.png" width="15%">


<hr> <a id="sets"></a>

### 8.5.6. Sets

Python sets are mutable, unordered collections of unique elements. They are not considered sequences and therefore do not support indexing or slicing. Sets also do not allow duplicate elements and will automatically deduplicate themselves, retaining only one instance of each unique value. Basic uses for sets include membership testing and deduplication of other sequences. Sets also support mathematical set operations like union, intersection, difference, and symmetric difference. 

Sets are always wrapped in curly braces: `{}`

| Syntax                    | Action                                     |
|:-------------------------:|--------------------------------------------|
|`set1 = set()`              | Initializes an empty set |
|`set3 = {1, 'a', 3.1415}`     | Initializes a set with multiple elements |
|`set2.add(x)`       | Adds the value stored in `x` to `set2` |
|`set2.remove(x)`       | Removes the value stored in `x` from `set2` |
|`x in set2`                 | Asks is `x` in `set2`? |
|`set1.difference(set2)   `               | Values in `set1` but not in `set2`|
|`set1.union(set2)    `              | Values in either `set1` or `set2` |
|`set1.intersection(set2)   `               | Values in both `set1` and `set2` |
|`set1.symmetric_difference(set2)   `               | Values in `set1` or `set2` but not both  |

To demonstrate these capabilities, first initialize values into two sets. Both sets contain geocoordinates as tuples. Use set operations to compare them.

In [ ]:
set1 = {(40.3359, -73.8519), (40.1395, -73.1847), (40.9018, -73.6472), (41.3114, -74.9317), (40.0574, -73.7093), (40.3283, -73.5393), (41.4963, -74.7807), (41.306, -74.1903), (41.3009, -74.3318), (41.0859, -74.1065), (41.476, -74.8781), (41.4132, -74.4966), (41.5069, -74.9362), (40.7464, -73.3113), (39.9643, -74.2852), (40.2784, -74.4275), (40.1685, -74.4684), (40.6913, -74.7727), (40.9869, -74.3098), (40.5029, -74.1455), (39.7886, -73.7916), (41.3454, -73.0848), (41.0134, -73.5366), (41.1706, -73.6227), (39.9752, -73.6027)}
set2 = {(40.7464, -73.3113), (40.4534, -73.5302), (40.1395, -73.1847), (40.9401, -73.6553), (40.9985, -73.1145), (40.3359, -73.8519), (41.5069, -74.9362), (41.3114, -74.9317), (41.2716, -74.7067), (41.0532, -74.9857), (41.1434, -74.6219), (41.2259, -74.3201), (41.55, -74.9327), (41.4962, -74.5411), (39.8443, -74.0483), (39.9222, -74.5679), (40.506, -74.1934), (40.2784, -74.4275), (40.5449, -73.5188), (40.1014, -74.3324), (40.7861, -74.7268), (41.3841, -73.2179), (41.1719, -73.7924), (41.3193, -73.9454), (39.7886, -73.7916)}

Show values in `set1` that are not in `set2`.

In [ ]:
set1.difference(set2)

Show values in either `set1` or `set2`.

In [ ]:
set1.union(set2)

Show the elements that belong to both sets.

In [ ]:
set1.intersection(set2)

Show values in `set1` or `set2`, but not both.

In [ ]:
set1.symmetric_difference(set2)


<hr> <a id="dictionaries"></a>

### 8.5.7. Dictionaries

Dictionaries are collections of key-value pairs. Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type. Strings and numbers can always be keys. The values in a dictionary can be any data type or data structure.

Dictionaries share many properties with sets:
* Both sets and dictionaries are unordered
* Both sets and dictionaries are wrapped in curly braces
* Sets must have unique entries, dictionaries must have unique keys                               

There are three dictionary methods we covered in this class.

| Code                    | Action                                     |
|-------------------------|--------------------------------------------|
|`.keys()`     | Returns a collection of the dictionary keys |
|`.values()`   | Returns a collection of the dictionary values |
|`.items()`    | Returns a collection of tuples of key-value pairs <br>that can be unpacked using multiple assignments |

There are a number of ways to iterate through a dictionary, but using `.items()` is usually the easiest.

```python
for key, value in dict_object.items(): 
    do_something_with(key)
    do_something_with(value)
```

Initialize a dictionary to get some practice.

In [ ]:
inventory = {'apples': 430, 
             'bananas': 312, 
             'oranges': 525, 
             'pears': 217}

Show the dictionary keys.

In [ ]:
inventory.keys()

Print the current stock for bananas.

In [ ]:
inventory['bananas']

Add `'avocados'` to your dictionary with a value of `543`.

In [ ]:
inventory['avocados'] = 543
inventory

Edit the value of `'oranges'` by subtracting `83` from the current value.

In [ ]:
inventory['oranges'] -= 83
inventory

Delete `'pears'` from your dictionary.

In [ ]:
del inventory['pears']
inventory

Using the provided dictionary, let's make some changes.

In [ ]:
grocery_prices = {'Eggs': 2.59,
                  'Milk': 3.19,
                  'Cheese': {'American': 4.80,
                             'Swiss': 4.11,
                             'Cheddar': 3.59
                            },
                  'Yogurt': {'Regular': 2.35,
                             'Sale': 1.11
                            },
                  'Butter': 2.59
                 }

**Exercise:** Egg prices have dropped. Let's change the price of `'Eggs'` to `1.99`.

In [ ]:
## YOUR CODE GOES HERE ##

**Exercise:** Change the `'Sale'` price of `'Yogurt'` to `1.49`.

In [ ]:
## YOUR CODE GOES HERE ##

**Exercise:** Add `'Honey'` to our dictionary, with the price of `3.49`.

In [ ]:
## YOUR CODE GOES HERE ##

**Exercise:** We recently lost our butter supplier. Remove `'Butter'` from our dictionary.

In [ ]:
## YOUR CODE GOES HERE ##

**Exercise:** Add `'Lobster'` to our dictionary with the value `'Market Price'`.

In [ ]:
## YOUR CODE GOES HERE ##

**Exercise:** We found that Swiss cheese is not selling. Remove `'Swiss'` cheese from our dictionary.

In [ ]:
## YOUR CODE GOES HERE ##


<hr> <a id="common_ops"></a>

### 8.5.8. Common Operations Across Data Structures

There are certain operations you can do on any data structure. When called on dictionaries, these functions apply themselves to the dictionary's keys.

| Syntax               | Description                               |
|:----------------------:|-------------------------------------------|
|`max(my_sequence)`    | Returns the maximum value contained in the collection |
|`min(my_sequence)`    | Returns the minimum value contained in the collection |
|`sum(my_sequence)`    | Returns the sum of the collection as an integer (only works if all items are numeric) |
|`len(my_sequence)`    | Returns the length of the collection as an integer |
|`sorted(my_sequence)` | Returns a sorted copy of the collection |


<hr> <a id="codeflow"></a>

## 8.6. Flow Control

<hr> <a id="if"></a>
### 8.6.1. If Statements

The `if` statement is used for conditional execution. The below code checks the value of `stock_price` and prints a message depending on its value.

In [ ]:
stock_price = 14000

if stock_price > 20000:
    print('SELL!')
    
elif stock_price < 15000:
    print('BUY!')
    
else:
    print('Do Nothing.')

We can add as many `elif` statements as we want to an `if` block. But remember, only one clause in an `if` block will execute. When a clause evaluates to `True`, its code is run and all subsequent clauses are skipped.

In [ ]:
grade = 86

if 60 <= grade < 70:
    print('Student got a D')
    
elif 70 <= grade < 80:
    print('Student got a C')
    
elif 80 <= grade < 90:
    print('Student got a B')
    
elif grade >= 90:
    print('Student got a A')
    
else:
    print('Student did not pass')

**Exercise:** Create an `if` block (using `if`, `elif`, and/or `else` statements as needed) that will evaluate as follows.

|Example Input|Expected Output|
|:-------------|:----:|
| `weather = 'sunny'`<br>`day = 'weekday'`| `'Have lunch outside.'`|
| `weather = 'rainy'`<br>`day = 'weekday'`| `'Sigh and eat at your desk.'`|
| `weather = 'sunny'`<br>`day = 'weekend'`| `'Go for a hike.'`|
| `weather = 'rainy'`<br>`day = 'weekend'`| `'Play board games with friends.'`|

In [ ]:
## YOUR CODE GOES HERE ##


<hr> <a id="for"></a>

### 8.6.2. For Loops

The `for` statement allows you to loop over the elements of a collection. See the simple example below.

In [ ]:
letter_list = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

for letter in letter_list:
    print(letter.lower() * 5)

**Exercise:** Write a `for` loop that will loop through the list of letters below and print only the vowels.

In [ ]:
letter_list = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [ ]:
## YOUR CODE GOES HERE ##

**Exercise:** Create a `for` loop that will print only the names of animals from `my_animals` that eat `'Shrubbery'`.

In [ ]:
my_animals = [{'Name': 'Giraffe', 'Weight': '2600', 'Diet': 'Shrubbery', 'Average Lifespan': '25'}, 
              {'Name': 'Moose', 'Weight': '1300', 'Diet': 'Shrubbery', 'Average Lifespan': '20'}, 
              {'Name': 'Giant Panda', 'Weight': '220', 'Diet': 'Bamboo', 'Average Lifespan': '20'}, 
              {'Name': 'Red Panda', 'Weight': '14', 'Diet': 'Bamboo', 'Average Lifespan': '14'}, 
              {'Name': 'Hippopotamus', 'Weight': '3800', 'Diet': 'Grass', 'Average Lifespan': '45'}, 
              {'Name': 'Lion', 'Weight': '400', 'Diet': 'Gazelle', 'Average Lifespan': '12'}, 
              {'Name': 'Tortoise', 'Weight': '100', 'Diet': 'Grass', 'Average Lifespan': '100'}]

In [ ]:
## YOUR CODE GOES HERE ##

**Exercise:** Using the same list of animals from the exercise above, loop and create a new dictionary that contains the diet food as the key, and the count of animals that have that diet as the value.

In [ ]:
## YOUR CODE GOES HERE ##

**Exercise:** Given a list of numbers sorted in ascending order, count how many numbers in the list are less than `1000`. HINT: the answer is 98.

In [ ]:
nums_list = [16, 46, 48, 50, 78, 94, 96, 105, 109, 110, 115, 141, 141, 152, 154, 155, 180, 195, 197, 206, 225, 235, 
             238, 262, 278, 283, 295, 304, 310, 322, 322, 334, 352, 357, 371, 383, 388, 392, 395, 404, 412, 419, 447, 
             465, 480, 485, 493, 506, 514, 519, 537, 539, 553, 555, 567, 572, 600, 612, 614, 614, 615, 629, 648, 652, 
             653, 660, 674, 695, 709, 710, 714, 729, 746, 763, 769, 783, 788, 793, 821, 832, 833, 843, 847, 863, 866, 
             875, 891, 899, 904, 915, 916, 926, 968, 969, 973, 980, 982, 986, 1003, 1017, 1037, 1041, 1048, 1052, 1065, 
             1071, 1073, 1090, 1096, 1105, 1124, 1142, 1148, 1155, 1157, 1160, 1187, 1198, 1207, 1210, 1229, 1252, 1257, 
             1258, 1267, 1272, 1272, 1289, 1309, 1319, 1321, 1330, 1352, 1352, 1363, 1371, 1384, 1393, 1401, 1422, 1435, 
             1439, 1446, 1447, 1454, 1486, 1492, 1495, 1505, 1509]

In [ ]:
## YOUR CODE GOES HERE ##


<hr> <a id="while"></a>

### 8.6.3. While Loops

The `while` loop repeats a statement or group of statements while a given Boolean test expression evaluates to `True`. Here's a simple example. We initialize our `count` variable as `0`. Then we jump into a `while` loop that checks if `count` is not equal to `10`. If that evaluates to `True`, our code prints the value of `count` to the screen and then increments `count` by `1`. Try to guess what the output will look like before running the cell below.

In [ ]:
count = 0

while count != 10:
    print(count)
    count += 1


<hr> <a id="break"></a>

### 8.6.4. Break and Continue

The `break` statement in Python terminates the `for` or `while` loop it is contained in. The `continue` statement tells Python to skip any code following it in the current loop, and begin the next loop iteration.

**Exercise:** Given a list of numbers sorted in ascending order, count how many numbers in the list are less than `1000`. Add a `break` statement to halt the execution of your loop once you reach a number that is greater or equal to `1000`. (The series is increasing, there's no need to keep checking numbers after that.) HINT: the answer is 98.

In [ ]:
nums_list = [16, 46, 48, 50, 78, 94, 96, 105, 109, 110, 115, 141, 141, 152, 154, 155, 180, 195, 197, 206, 225, 235, 
             238, 262, 278, 283, 295, 304, 310, 322, 322, 334, 352, 357, 371, 383, 388, 392, 395, 404, 412, 419, 447, 
             465, 480, 485, 493, 506, 514, 519, 537, 539, 553, 555, 567, 572, 600, 612, 614, 614, 615, 629, 648, 652, 
             653, 660, 674, 695, 709, 710, 714, 729, 746, 763, 769, 783, 788, 793, 821, 832, 833, 843, 847, 863, 866, 
             875, 891, 899, 904, 915, 916, 926, 968, 969, 973, 980, 982, 986, 1003, 1017, 1037, 1041, 1048, 1052, 1065, 
             1071, 1073, 1090, 1096, 1105, 1124, 1142, 1148, 1155, 1157, 1160, 1187, 1198, 1207, 1210, 1229, 1252, 1257, 
             1258, 1267, 1272, 1272, 1289, 1309, 1319, 1321, 1330, 1352, 1352, 1363, 1371, 1384, 1393, 1401, 1422, 1435, 
             1439, 1446, 1447, 1454, 1486, 1492, 1495, 1505, 1509]

In [ ]:
## YOUR CODE GOES HERE ##

**Exercise:** You are given a list of codes that have a mix of alphabetical, numerical, and special characters. From this list, create a new list of only the codes where every character is alphabetical. Use `continue` to skip items that fail to meet the condition. HINT: For each item in the list, use the string method `.isalpha()` to determine if every character is alphabetical.

Expected Output: `['gmY', 'GOx', 'tma', 'NQh', 'lgd']`

In [ ]:
codes_list = ['hQ ', '~$"', 'x%[', '#^l', 'N]\x0c', 'Yd\\', '.D>', '/{$', '_d]', '|0-', 'gmY', '+\\J', 
              'l@G', 'GOx', 'X"#', '1>G', 'P1#', 'f+0', 'tma', 'A<|', '-D]', '?u{', ' TW', '}.Q', 'K$E', 
              '[8|', '~r+', '6@J', 'O=4', '{,]', '\t+w', 'z9!', 'NQh', ',H/', 'E5s', 'lgd', 'K\tk', '4Qd', '\nvd', "P.'"]

In [ ]:
## YOUR CODE GOES HERE ##


<hr> <a id="GettingData"></a>

## 8.7. Getting Data

<hr> <a id="Local"></a>

### 8.7.1. Loading a Local Data File

Another method for getting data into a Python program involves reading a local file using the built-in `open()` function. Use the `with` keyword to store the open file in a temporary variable. To read a file, the mode is `'r'` (but this is the default value so we need not specify). To write a file, the mode is `'w'`. In the following example, we read in some data and store it in our script. Remember that `.read()` always brings data in as a string.

In [ ]:
with open('data/earthquake/USGS_earthquake_data.xml') as my_file:
    USGS_xml_data = my_file.read()

USGS_xml_data

**Exercise:** Read in the file `'data/lesson_7/kermit.txt'` and find how many times the word `'Muppets'` appears in the file.

In [ ]:
## YOUR CODE GOES HERE ##


<hr> <a id="csv"></a>

### 8.7.2. Getting Data with the CSV Library

The comma separated values (CSV) file format is a common import and export format. The `.DictReader()` object interprets CSV data as a list of dictionaries. And the `.DictWriter()` object is used to write CSV files from lists of dictionaries.

In [ ]:
import csv

In [ ]:
with open('data/animal/animal_info_land.csv') as f:
    reader_obj = csv.DictReader(f)
    data = list(reader_obj)

data

**Exercise:** Find how many rows are in the CSV data that we read in one cell above this (using code, not your counting skills!).

In [ ]:
## YOUR CODE GOES HERE ##

**Exercise:** Find how many columns are in the CSV data we read in above (i.e. how many items are in each row).<br>

HINT: Every row contains the same number of items.

In [ ]:
## YOUR CODE GOES HERE ##

**Exercise:** Add the following dictionary in the cell below to the CSV data we read in above. Then write your modified data structure out to a new file using `.DictWriter()` in the following location.
<br><br>
<center>`data/animal/new_animals.csv`</center>

In [ ]:
new_row = {'Name': 'Mouse', 'Weight': 1, 'Diet': 'Cheese', 'Average Lifespan': 5}

In [ ]:
## YOUR CODE GOES HERE ##


<hr> <a class="anchor" id="glob"></a>

### 8.7.3. The Glob Library

The Glob Library finds all the filepaths matching a specified pattern.

In [ ]:
import glob

In [ ]:
files = glob.glob('data/animal/*.csv')
files

**Exercise:** Using `.glob()` find all the CSV files from the `data/animal/` folder that include the word `info` in their filename. Then read all those files and put all the data into a single data structure.

In [ ]:
## YOUR CODE GOES HERE ##

**Exercise:** How many unique animals are in the data set you created in the exercise above? HINT: The answer is `13`.

In [ ]:
## YOUR CODE GOES HERE ##

<hr> <b><center>UNCLASSIFIED</center></b>